@import '~bootstrap/scss/bootstrap';

body{
    background-color: #f9f7f4;
}

.clickable {
    cursor: pointer;
}


//Background colors
.bkgd-blue {
    background-color: #3544b1;
}

.bkgd-beige {
    background-color: #f9f7f4;
}

.bkgd-white {
    background-color: #fff;
}


